.widget.widget-tile
{
    position: relative !important;
    table-layout: unset !important;
    padding-bottom: 5px;
    padding-top: 10px;
}

.widget.has-heading
{
    margin-top: 22px;
}


.widget-heading-block
{
    position: absolute;
    top: -20px;
    left: 0px;
    background: #4285f4;
    color: white;
    
    width: 100%;
    padding: 5px 10px;
    
}

.widget-img
{
    min-height: 45px;
}

.widget-img img
{
    width: 100%;
}

.widget.widget-tile .data-info {
    display: unset !important;
    text-align: unset !important;
}

.widget.widget-tile .data-info .value
{
    margin-bottom: 0px;
}

.widget.widget-tile .data-info .desc {
    
    line-height: 22px;
    text-align: left;
    padding: 0px 0px 0px 25px;
}

.widget.widget-tile .data-info .indicator {
    font-size: 15px;
    margin-right: 10px;
}

.widget.widget-tile .data-info .value {
    font-size: 15px;
    font-weight: 500;
}

.orange-heading
{
    background: #e8b236;
}

.green-heading
{
    background: #34A853;
}

.widget.widget-tile.pressure-widget .data-info .value
{
    margin-bottom: 1px;
}

.red-heading
{
    background: #EA4335;
}

.pump-rpm-section
{
    margin-bottom: 50px;
}

.avg-value
{
    background: url('../img/icons/avg.svg') no-repeat;
    background-position: 0px 3px;
    margin-top: 10px;
    font-size: 20px;
    padding-left: 25px;
}

.avg-value.no-bg
{
    background: none !important;
}

.box-heading
{
    margin-bottom: 5px;
}

.mb-20
{
    margin-bottom: 20px;
}

.p-25
{
    padding: 25px;
}

.pressure-val
{
    font-size: 20px;
    margin-top: 5px;
}

.pump-num
{
    background: #0D91BD;
    color: #f8f8f8;
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 25px;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    position: relative;
    top: -3px;
}

.pressure-val-container
{
    border: 1px solid #7d7d7d;
    border-radius: 25px;
    padding-right: 10px;
    background: #ffb6558c;
    margin-right: 5px;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.pt-15
{
    padding-top: 15px;
}

.pressure-val-container .number
{
    font-size: 15px;
    font-weight: bold;
}

.pl-15
{
    padding-left: 15px !important;
}

.pt-15
{
    padding-top: 15px !important;
}

.scale-down
{
    transform: scale(0.85);
    transform-origin: top left;
}

.top-box .box-heading
{
    font-size: 17px;
}

.pb-30
{
    padding-bottom: 30px !important;
}

div.tick
{
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 15px;
    height: 15px;
    background: red;
}

.chart-legend-horizontal li
{
    position: relative;
}

.chart-legend-horizontal li span
{
    background: #c1c1c1;
}

.chart-legend-horizontal li
{
    cursor: pointer;
}

.chart-legend-horizontal li:hover
{
    color: #4285f4;
}

#temperature-area-chart
{
    overflow: unset !important;
}

.be-content
{
    margin-left: 0px;
}

.go-back-btn-icon
{
    font-size: 17px;
    vertical-align: middle;
    margin: 0px 5px;
    position: relative;
    top: -1px;
}

.px-15
{
    padding-left: 15px;
    padding-right: 15px;
}

.anchorPos label, .anchorPos .pumpindex
{
    position: relative;
    top: -2px;
}

.go-back-btn
{
    position: relative;
    top: -50px;
}